In [5]:
# Import required libraries.

import pandas as pd
import numpy as np
import time

In [6]:
t_begin = time.time()
t_read = time.time()

In [7]:
# Read all datasets.

jan  = pd.read_csv("datasets/01_flight_details_january.csv")
feb  = pd.read_csv("datasets/02_flight_details_february.csv")
mar  = pd.read_csv("datasets/03_flight_details_march.csv")
apr  = pd.read_csv("datasets/04_flight_details_april.csv")
may  = pd.read_csv("datasets/05_flight_details_may.csv")
jun  = pd.read_csv("datasets/06_flight_details_june.csv")
jul  = pd.read_csv("datasets/07_flight_details_july.csv")
aug  = pd.read_csv("datasets/08_flight_details_august.csv")
sep  = pd.read_csv("datasets/09_flight_details_september.csv")
octo = pd.read_csv("datasets/10_flight_details_october.csv")
nov  = pd.read_csv("datasets/11_flight_details_november.csv")
dec  = pd.read_csv("datasets/12_flight_details_december.csv")

In [8]:
t_read_complete = time.time() - t_read

In [9]:
# Make list of dasets to make iterating easy.

df_list = [jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec]

In [55]:
jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 25 columns):
FL_DATE                450017 non-null object
AIRLINE_ID             450017 non-null int64
TAIL_NUM               449378 non-null object
FL_NUM                 450017 non-null int64
ORIGIN                 450017 non-null object
ORIGIN_CITY_NAME       450017 non-null object
DEST                   450017 non-null object
DEST_CITY_NAME         450017 non-null object
CRS_DEP_TIME           450017 non-null int64
DEP_TIME               441476 non-null float64
DEP_DELAY              441476 non-null float64
DEP_DELAY_GROUP        441476 non-null float64
CRS_ARR_TIME           450017 non-null int64
ARR_TIME               440746 non-null float64
ARR_DELAY              439645 non-null float64
ARR_DELAY_GROUP        439645 non-null float64
CANCELLED              450017 non-null float64
DIVERTED               450017 non-null float64
AIR_TIME               439645 non-null float64
CARRIER_DELAY          97699 non-null float64
WEATHER_DELAY          97699 non-null float64
NAS_DELAY              97699 non-null float64
SECURITY_DELAY         97699 non-null float64
LATE_AIRCRAFT_DELAY    97699 non-null float64
Unnamed: 24            0 non-null float64
dtypes: float64(15), int64(4), object(6)
memory usage: 85.8+ MB

In [56]:
# Make copies of datasets.
df_copy_list = []
for df in df_list:
    df_copy_list.append(df.copy())

# Deconstruct copy list for redable access to elements.
jan_copy, feb_copy, mar_copy, apr_copy, may_copy, jun_copy, jul_copy, aug_copy, sep_copy, octo_copy, nov_copy, dec_copy = df_copy_list

In [57]:
t_convert = time.time()

In [58]:
# Convert columns to appropriate datatypes.

for df in df_copy_list:
        
    df.FL_DATE = pd.to_datetime(df.FL_DATE)
    
    df.AIRLINE_ID = df.AIRLINE_ID.astype("str")
    
    df.FL_NUM = df.FL_NUM.astype("str")
    
    df.CRS_DEP_TIME = df.CRS_DEP_TIME.astype("str").str.zfill(4).replace("2400", "2359")
    df.CRS_ARR_TIME = df.CRS_ARR_TIME.astype("str").str.zfill(4).replace("2400", "2359")    
    df.CRS_DEP_TIME = pd.to_datetime(df.CRS_DEP_TIME, format="%H%M").dt.time
    df.CRS_ARR_TIME = pd.to_datetime(df.CRS_ARR_TIME, format="%H%M").dt.time
    
    df.DEP_TIME = df.DEP_TIME.astype("str").str.zfill(4).replace("2400", "2359")
    df.ARR_TIME = df.ARR_TIME.astype("str").str.zfill(4).replace("2400", "2359")
    df.DEP_TIME = pd.to_datetime(df.DEP_TIME, format="%H%M.0")
    df.ARR_TIME = pd.to_datetime(df.ARR_TIME, format="%H%M.0")
    
    df.DEP_DELAY_GROUP = df.DEP_DELAY_GROUP.astype("int", errors="ignore")
    df.ARR_DELAY_GROUP = df.ARR_DELAY_GROUP.astype("int", errors="ignore")
    
    df.DEP_DELAY = df.DEP_DELAY.astype("int", errors="ignore")
    df.ARR_DELAY = df.ARR_DELAY.astype("int", errors="ignore")
    
    df.CANCELLED = df.CANCELLED.astype("bool")
    df.DIVERTED = df.DIVERTED.astype("bool")
    
    df.TAIL_NUM = df.TAIL_NUM.replace(np.NaN, "CANCELLED")
    df["FLIGHT_ID"] = df.index.astype("str").str.zfill(7) + "-" + df["AIRLINE_ID"] + df["TAIL_NUM"]
    
    df.drop(["AIRLINE_ID", "TAIL_NUM", "Unnamed: 24"], axis=1, inplace=True)
    
    df[["CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]].replace(0, np.NaN)
    
    df["ORIGIN_CITY"], df["ORIGIN_STATE"] = df.ORIGIN_CITY_NAME.str.split(", ").str
    df["DEST_CITY"], df["DEST_STATE"] = df.DEST_CITY_NAME.str.split(", ").str
    df.drop(["ORIGIN_CITY_NAME", "DEST_CITY_NAME"], inplace=True, axis=1)
    
    df[["CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]].replace(0, np.NaN)

ValueError: time data '0nan' does not match format '%H%M.0' (match)

In [14]:
t_convert_complete = time.time() - t_convert

In [15]:
t_status = time.time()

In [16]:
count = 0
for df in df_copy_list:
    fls = []
    for index, flight in df.iterrows():
        if flight.CANCELLED:
            FLIGHT_STATUS = "Cancelled"
        elif flight.DIVERTED:
            FLIGHT_STATUS = "Diverted"
        else:
            FLIGHT_STATUS = "Normal"
        
        fls.append({"FLIGHT_ID": flight.FLIGHT_ID,
                    "FLIGHT_STATUS": FLIGHT_STATUS})
    
    fls_df = pd.DataFrame(fls)
    df_copy_list[count] = df.merge(fls_df, on="FLIGHT_ID", how="left")
    count += 1
    
jan_copy, feb_copy, mar_copy, apr_copy, may_copy, jun_copy, jul_copy, aug_copy, sep_copy, octo_copy, nov_copy, dec_copy = df_copy_list

In [18]:
t_status_complete = time.time() - t_status
t_end = time.time() - t_begin

In [20]:
print("Read: {}\nConvert: {}\nStatus: {}\nTotal: {}".format(t_read_complete, t_convert_complete, t_status_complete, t_end))

Read: 14.736339807510376
Convert: 119.72830080986023
Status: 1422.3147060871124
Total: 1557.573527097702

In [24]:
for df in df_copy_list:
    df.drop(["DIVERTED", "CANCELLED"], axis=1, inplace=True)

In [60]:
jan_copy.replace("0nan", np.NaN)

,FL_DATE,AIRLINE_ID,TAIL_NUM,FL_NUM,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,...,ARR_DELAY_GROUP,CANCELLED,DIVERTED,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 24
0,2017-01-01,19805,N837AA,1655,SAT,"San Antonio, TX",CLT,"Charlotte, NC",828,819.0,...,-2.0,0.0,0.0,129.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,19805,N805AA,1659,PHX,"Phoenix, AZ",AUS,"Austin, TX",942,1025.0,...,3.0,0.0,0.0,108.0,43.0,0.0,10.0,0.0,0.0,NaN
2,2017-01-01,19805,N198AA,1660,LAX,"Los Angeles, CA",PHL,"Philadelphia, PA",1120,1111.0,...,-2.0,0.0,0.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,19805,N825AA,1663,CLT,"Charlotte, NC",PHL,"Philadelphia, PA",1114,1124.0,...,1.0,0.0,0.0,64.0,0.0,0.0,13.0,0.0,10.0,NaN
4,2017-01-01,19805,N711AA,1663,PIT,"Pittsburgh, PA",CLT,"Charlotte, NC",835,834.0,...,0.0,0.0,0.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-01,19805,N754AA,1667,PBI,"West Palm Beach/Palm Beach, FL",PHL,"Philadelphia, PA",1405,1403.0,...,-1.0,0.0,0.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,19805,N813AA,1672,ATL,"Atlanta, GA",CLT,"Charlotte, NC",900,853.0,...,2.0,0.0,0.0,46.0,0.0,0.0,42.0,0.0,0.0,NaN
7,2017-01-01,19805,N746AA,1672,CLT,"Charlotte, NC",PBI,"West Palm Beach/Palm Beach, FL",1120,1116.0,...,-2.0,0.0,0.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,19805,N839AA,1673,BWI,"Baltimore, MD",CLT,"Charlotte, NC",1535,1527.0,...,-2.0,0.0,0.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-01-01,19805,N125AA,1673,CLT,"Charlotte, NC",IAH,"Houston, TX",1810,1810.0,...,-1.0,0.0,0.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,19805,N560AA,1674,LAS,"Las Vegas, NV",MIA,"Miami, FL",2159,2158.0,...,-1.0,0.0,0.0,245.0,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,19805,N169AA,1675,PHL,"Philadelphia, PA",BOS,"Boston, MA",2245,2239.0,...,-1.0,0.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-01-01,19805,N915AA,1676,FLL,"Fort Lauderdale, FL",PHL,"Philadelphia, PA",1712,1704.0,...,-2.0,0.0,0.0,134.0,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-01-01,19805,N915AA,1676,PHL,"Philadelphia, PA",SEA,"Seattle, WA",2050,2047.0,...,-1.0,0.0,0.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,19805,N826AA,1677,CLT,"Charlotte, NC",PIT,"Pittsburgh, PA",955,951.0,...,-2.0,0.0,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-01-01,19805,N678AA,1677,MSP,"Minneapolis, MN",CLT,"Charlotte, NC",510,457.0,...,-2.0,0.0,0.0,113.0,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,19805,N954AA,1678,ATL,"Atlanta, GA",LGA,"New York, NY",1700,1700.0,...,-2.0,0.0,0.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-01-01,19805,N954AA,1678,LGA,"New York, NY",ATL,"Atlanta, GA",1343,1339.0,...,-1.0,0.0,0.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,19805,N830AA,1679,DTW,"Detroit, MI",MIA,"Miami, FL",525,518.0,...,-2.0,0.0,0.0,154.0,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,19805,N730AA,1680,PHL,"Philadelphia, PA",PBI,"West Palm Beach/Palm Beach, FL",1855,1851.0,...,-2.0,0.0,0.0,128.0,NaN,NaN,NaN,NaN,NaN,NaN
20,2017-01-01,19805,N507AA,1684,DFW,"Dallas/Fort Worth, TX",MCO,"Orlando, FL",1105,1100.0,...,-1.0,0.0,0.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,19805,N507AA,1684,PHL,"Philadelphia, PA",DFW,"Dallas/Fort Worth, TX",704,702.0,...,-1.0,0.0,0.0,198.0,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,19805,N975AA,1688,DFW,"Dallas/Fort Worth, TX",MCO,"Orlando, FL",1825,1848.0,...,0.0,0.0,0.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,19805,N975AA,1688,SFO,"San Francisco, CA",DFW,"Dallas/Fort Worth, TX",1146,1137.0,...,0.0,0.0,0.0,176.0,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,19805,N963AA,1689,PHL,"Philadelphia, PA",RDU,"Raleigh/Durham, NC",1130,1127.0,...,-1.0,0.0,0.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,19805,N963AA,1689,RDU,"Raleigh/Durham, NC",PHL,"Philadelphia, PA",1336,1334.0,...,-1.0,0.0,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,19805,N701AA,1690,ATL,"Atlanta, GA",CLT,"Charlotte, NC",1225,1229.0,...,0.0,0.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,19805,N753AA,1690,CLT,"Charlotte, NC",STL,"St. Louis, MO",1437,1440.0,...,-1.0,0.0,0.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,19805,N701AA,1690,MIA,"Miami, FL",ATL,"Atlanta, GA",939,936.0,...,0.0,0.0,0.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,19805,N585AA,1691,DFW,"Dallas/Fort Worth, TX",ATL,"Atlanta, GA",2030,2028.0,...,-1.0,0.0,0.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017-01-31,19805,N579AA,1993,CLT,"Charlotte, NC",LAX,"Los Angeles, CA",730,723.0,...,-2.0,0.0,0.0,282.0,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,19805,N152AA,1994,PHL,"Philadelphia, PA",ORD,"Chicago, IL",1300,1257.0,...,-1.0,0.0,0.0,117.0,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,19805,N678AA,1996,FLL,"Fort Lauderdale, FL",PHL,"Philadelphia, PA",700,653.0,...,-1.0,0.0,0.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,19805,N954AA,1997,PHL,"Philadelphia, PA",RDU,"Raleigh/Durham, NC",1535,1530.0,...,-2.0,0.0,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,19805,N954AA,1997,RDU,"Raleigh/Durham, NC",PHL,"Philadelphia, PA",1745,1737.0,...,-2.0,0.0,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,19805,N194AA,1998,PHX,"Phoenix, AZ",CLT,"Charlotte, NC",1550,1546.0,...,-2.0,0.0,0.0,201.0,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,19805,N192AA,2001,ORD,"Chicago, IL",PHL,"Philadelphia, PA",500,454.0,...,-1.0,0.0,0.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,19805,N717AA,2004,IND,"Indianapolis, IN",CLT,"Charlotte, NC",1212,1159.0,...,-2.0,0.0,0.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,19805,N713AA,2006,ALB,"Albany, NY",CLT,"Charlotte, NC",1702,1648.0,...,-1.0,0.0,0.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,19805,N717AA,2006,CLT,"Charlotte, NC",RIC,"Richmond, VA",2025,2018.0,...,-2.0,0.0,0.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,19805,N119AA,2007,BWI,"Baltimore, MD",CLT,"Charlotte, NC",510,504.0,...,-1.0,0.0,0.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,19805,N114AA,2007,CLT,"Charlotte, NC",EWR,"Newark, NJ",740,808.0,...,1.0,0.0,0.0,77.0,15.0,0.0,0.0,0.0,0.0,NaN
449999,2017-01-31,19805,N206AA,2008,MCO,"Orlando, FL",PHL,"Philadelphia, PA",1910,1903.0,...,-2.0,0.0,0.0,116.0,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,19805,N950AA,2009,PHL,"Philadelphia, PA",RDU,"Raleigh/Durham, NC",845,837.0,...,-2.0,0.0,0.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN
450001,2017-01-31,19805,N820AA,2011,CLT,"Charlotte, NC",RDU,"Raleigh/Durham, NC",750,743.0,...,-2.0,0.0,0.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,19805,N704AA,2011,PIT,"Pittsburgh, PA",CLT,"Charlotte, NC",510,501.0,...,-1.0,0.0,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,19805,N717AA,2013,CLT,"Charlotte, NC",ROC,"Rochester, NY",1434,1429.0,...,-1.0,0.0,0.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,19805,N952AA,2016,PHL,"Philadelphia, PA",ATL,"Atlanta, GA",1010,1023.0,...,0.0,0.0,0.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,19805,N109AA,2018,RSW,"Fort Myers, FL",PHL,"Philadelphia, PA",1448,1459.0,...,0.0,0.0,0.0,132.0,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017-01-31,19805,N108AA,2021,CLT,"Charlotte, NC",PHL,"Philadelphia, PA",1449,1453.0,...,-1.0,0.0,0.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,19805,N108AA,2021,PBI,"West Palm Beach/Palm Beach, FL",CLT,"Charlotte, NC",1155,1218.0,...,1.0,0.0,0.0,96.0,1.0,0.0,0.0,0.0,16.0,NaN
450008,2017-01-31,19805,N658AA,2022,PHL,"Philadelphia, PA",FLL,"Fort Lauderdale, FL",1535,1525.0,...,-2.0,0.0,0.0,145.0,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,19805,N151AA,2023,ORD,"Chicago, IL",PHX,"Phoenix, AZ",1050,1045.0,...,-2.0,0.0,0.0,191.0,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,19805,N151AA,2023,PHL,"Philadelphia, PA",ORD,"Chicago, IL",750,749.0,...,-1.0,0.0,0.0,115.0,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017-01-31,19805,N151AA,2023,PHX,"Phoenix, AZ",LAX,"Los Angeles, CA",1445,1438.0,...,-1.0,0.0,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,19805,N946AA,2024,PHL,"Philadelphia, PA",JAX,"Jacksonville, FL",1815,1807.0,...,-2.0,0.0,0.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017-01-31,19805,N538AA,2026,PHX,"Phoenix, AZ",PHL,"Philadelphia, PA",2355,2339.0,...,-2.0,0.0,0.0,244.0,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,19805,N827AA,2027,SAT,"San Antonio, TX",CLT,"Charlotte, NC",1505,1505.0,...,1.0,0.0,0.0,147.0,0.0,0.0,15.0,0.0,0.0,NaN
450015,2017-01-31,19805,N703AA,2029,CLT,"Charlotte, NC",RIC,"Richmond, VA",1750,1746.0,...,0.0,0.0,0.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017-01-31,19805,N710AA,2031,BDL,"Hartford, CT",CLT,"Charlotte, NC",1005,1054.0,...,2.0,0.0,0.0,101.0,30.0,0.0,0.0,0.0,0.0,NaN